.toolbar {
    background-color: #eee;
    height: 2rem;
}

.day-gallery:first-of-type h2 {
    border-top: none;
    margin-top: auto;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    border-top: 1px solid #DDD;
    margin-top: 1rem;
}

.gallery {
    margin: 0 0.5rem;
    display: grid;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
}

.gallery > .photo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.gallery > .photo > img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 2 per row */
.gallery.gallery-2 {
    grid-template-columns: repeat(2, 1fr);
}

.gallery.gallery-2 > .photo {
    height: calc((100vw - 1.5rem)/2);
    width: calc((100vw - 1.5rem)/2);
}

/* 3 per row */
.gallery.gallery-3 {
    grid-template-columns: repeat(3, 1fr);
}

.gallery.gallery-3 > .photo {
    height: calc((100vw - 2rem)/3);
    width: calc((100vw - 2rem)/3);
}

/* 4 per row */
.gallery.gallery-4 {
    grid-template-columns: repeat(4, 1fr);
}

.gallery.gallery-4 > .photo {
    height: calc((100vw - 2.5rem)/4);
    width: calc((100vw - 2.5rem)/4);
}

/* 5 per row */
.gallery.gallery-5 {
    grid-template-columns: repeat(5, 1fr);
}

.gallery.gallery-5 > .photo {
    height: calc((100vw - 3rem)/5);
    width: calc((100vw - 3rem)/5);
}

/* 6 per row */
.gallery.gallery-6 {
    grid-template-columns: repeat(6, 1fr);
}

.gallery.gallery-6 > .photo {
    height: calc((100vw - 3.5rem)/6);
    width: calc((100vw - 3.5rem)/6);
}

/* Showcase */
.showcase {
    cursor: pointer;
    width: calc(100vw);
    height: calc(100vh);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
}

.showcase > img {
    max-width: calc(100vw - 60px);
    max-height: calc(100vh - 60px);
}
