.toolbar {
    background-color: #eee;
    height: 3rem;
    border-bottom: 1px solid #ddd;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
}

.toolbar .button {
    border: none;
    color: #AAA;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
    margin: 0.25rem 0 0;
    padding: 0 0.25rem;
}

.toolbar .button.selected {
    color: #666;
}

.toolbar form {
    display: inline;
}

.toolbar input {
    width: 12rem;
}

@media only screen and (max-width: 640px) {
    .toolbar {
        height: 3rem;
    }

    .toolbar .button {
        font-size: 2.2rem;
        margin: 0.25rem 0.25rem 0;
        padding: 0 0.5rem;
    }
}

@media (hover: hover) {
    .toolbar .button:hover {
        color: #999;
    }

    .toolbar .button.selected:hover {
        color: #555;
    }
}

.day-gallery:first-of-type h2 {
    border-top: none;
    margin-top: auto;
}

.day-gallery .back {
    cursor: pointer;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    border-top: 1px solid #DDD;
    margin-top: 1rem;
}

.galleries {
    scrollbar-width: none;
}
.galleries.scrolling {
    scrollbar-width: auto;
}

.gallery {
    margin: 0 0.5rem;
    display: grid;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
}

.gallery > .photo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.gallery > .photo > img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 2 per row */
.gallery.gallery-2 {
    grid-template-columns: repeat(2, 1fr);
}

.gallery.gallery-2 > .photo {
    height: calc((100vw - 1.5rem)/2);
    width: calc((100vw - 1.5rem)/2);
}

/* 3 per row */
.gallery.gallery-3 {
    grid-template-columns: repeat(3, 1fr);
}

.gallery.gallery-3 > .photo {
    height: calc((100vw - 2rem)/3);
    width: calc((100vw - 2rem)/3);
}

/* 4 per row */
.gallery.gallery-4 {
    grid-template-columns: repeat(4, 1fr);
}

.gallery.gallery-4 > .photo {
    height: calc((100vw - 2.5rem)/4);
    width: calc((100vw - 2.5rem)/4);
}

/* 5 per row */
.gallery.gallery-5 {
    grid-template-columns: repeat(5, 1fr);
}

.gallery.gallery-5 > .photo {
    height: calc((100vw - 3rem)/5);
    width: calc((100vw - 3rem)/5);
}

/* 6 per row */
.gallery.gallery-6 {
    grid-template-columns: repeat(6, 1fr);
}

.gallery.gallery-6 > .photo {
    height: calc((100vw - 3.5rem)/6);
    width: calc((100vw - 3.5rem)/6);
}

/* 7 per row */
.gallery.gallery-7 {
    grid-template-columns: repeat(7, 1fr);
}

.gallery.gallery-7 > .photo {
    height: calc((100vw - 4rem)/7);
    width: calc((100vw - 4rem)/7);
}

/* 8 per row */
.gallery.gallery-8 {
    grid-template-columns: repeat(8, 1fr);
}

.gallery.gallery-8 > .photo {
    height: calc((100vw - 4.5rem)/8);
    width: calc((100vw - 4.5rem)/8);
}

/* 9 per row */
.gallery.gallery-9 {
    grid-template-columns: repeat(9, 1fr);
}

.gallery.gallery-9 > .photo {
    height: calc((100vw - 5rem)/9);
    width: calc((100vw - 5rem)/9);
}

/* 10 per row */
.gallery.gallery-10 {
    grid-template-columns: repeat(10, 1fr);
}

.gallery.gallery-10 > .photo {
    height: calc((100vw - 5.5rem)/10);
    width: calc((100vw - 5.5rem)/10);
}

/* 11 per row */
.gallery.gallery-11 {
    grid-template-columns: repeat(11, 1fr);
}

.gallery.gallery-11 > .photo {
    height: calc((100vw - 6rem)/11);
    width: calc((100vw - 6rem)/11);
}

/* 12 per row */
.gallery.gallery-12 {
    grid-template-columns: repeat(12, 1fr);
}

.gallery.gallery-12 > .photo {
    height: calc((100vw - 6.5rem)/12);
    width: calc((100vw - 6.5rem)/12);
}

@media only screen and (max-width: 640px) {
    .gallery {
        margin: 0 0.1rem;
        grid-column-gap: 0.1rem;
        grid-row-gap: 0.1rem;
    }

    .gallery.gallery-2 > .photo {
        height: calc((100vw - 0.3rem)/2);
        width: calc((100vw - 0.3rem)/2);
    }

    .gallery.gallery-3 > .photo {
        height: calc((100vw - 0.4rem)/3);
        width: calc((100vw - 0.4rem)/3);
    }

    .gallery.gallery-4 > .photo {
        height: calc((100vw - 0.5rem)/4);
        width: calc((100vw - 0.5rem)/4);
    }

    .gallery.gallery-5 > .photo {
        height: calc((100vw - 0.6rem)/5);
        width: calc((100vw - 0.6rem)/5);
    }

    .gallery.gallery-6 > .photo {
        height: calc((100vw - 0.7rem)/6);
        width: calc((100vw - 0.7rem)/6);
    }

    .gallery.gallery-7 > .photo {
        height: calc((100vw - 0.8rem)/7);
        width: calc((100vw - 0.8rem)/7);
    }

    .gallery.gallery-8 > .photo {
        height: calc((100vw - 0.9rem)/8);
        width: calc((100vw - 0.9rem)/8);
    }

    .gallery.gallery-9 > .photo {
        height: calc((100vw - 1rem)/9);
        width: calc((100vw - 1rem)/9);
    }

    .gallery.gallery-10 > .photo {
        height: calc((100vw - 1.1rem)/10);
        width: calc((100vw - 1.1rem)/10);
    }

    .gallery.gallery-11 > .photo {
        height: calc((100vw - 1.2rem)/11);
        width: calc((100vw - 1.2rem)/11);
    }

    .gallery.gallery-12 > .photo {
        height: calc((100vw - 1.3rem)/12);
        width: calc((100vw - 1.3rem)/12);
    }}

/* Album Browser */
.album-browser {
    font-size: 1.3rem;
    padding: 1rem;
}

.album-browser .folder > .contents {
    margin-left: 1.3rem;
}

.album-browser .folder > .toggle {
    display: inline-block;
    width: 1.3rem;
    text-align: center;
    cursor: pointer;
}

.album-browser .folder > .name {
    cursor: pointer;
}

.album-browser .album {
    margin-left: 1.3rem;
}

.album-browser .album > .name {
    cursor: pointer;
    text-decoration: none;
    color: black;
}


/* Showcase */
.showcase {
    cursor: pointer;
    width: calc(100vw);
    height: calc(100vh);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
}

.showcase > img {
    max-width: calc(100vw - 60px);
    max-height: calc(100vh - 60px);
}
