.gallery {
    display: grid;
}

.gallery > .photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery > .photo::before {
    content: "";
    padding-bottom: 100%;
    display: inline-block;
    vertical-align: top;
}

.gallery > .photo > img {
    max-width: 100%;
}

/* 2 per row */
.gallery.gallery-2 {
    grid-template-columns: repeat(2, auto);
}

.gallery.gallery-2 > .photo > img {
    max-height: calc(100vw/2 - 6px);
}

/* 3 per row */
.gallery.gallery-3 {
    grid-template-columns: repeat(3, auto);
}

.gallery.gallery-3 > .photo > img {
    max-height: calc(100vw/3 - 4px);
}

/* 4 per row */
.gallery.gallery-4 {
    grid-template-columns: repeat(4, auto);
}

.gallery.gallery-4 > .photo > img {
    max-height: calc(100vw/4 - 3px);
}

/* 5 per row */
.gallery.gallery-5 {
    grid-template-columns: repeat(5, auto);
}

.gallery.gallery-5 > .photo > img {
    max-height: calc(100vw/5 - 2px);
}

/* 6 per row */
.gallery.gallery-6 {
    grid-template-columns: repeat(6, auto);
}

.gallery.gallery-6 > .photo > img {
    max-height: calc(100vw/6 - 2px);
}

/* Showcase */
.showcase {
    width: calc(100vw);
    height: calc(100vh);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
}

.showcase > img {
    max-width: calc(100vw - 60px);
    max-height: calc(100vh - 60px);
}